<section class="fixed w-full bg-gray-950">
    <div class="flex justify-center items-center font-sans mt-2">
        <h1 class="text-white font-bold italic text-md">
            Find youtube videos
        </h1>
    </div>
    <div class="flex justify-center items-center text-gray-500 rounded-lg p-2">
        <img src="../../assets/youtube-icon-clipart-video-8.png" class="rounded-lg" style="height: 70px; width: 70px;">
        <div class=" flex">
            <input
                class=" ml-2 placeholder:italic placeholder:text-gray-500 font-bold border-2 p-1 rounded-lg border-gray-600 focus:outline-none cursor-pointer w-48 md:w-60"
                placeholder="type here to search......." type="text">
        </div>
    </div>
</section>
<div *ngIf="results" class="grid grid-cols md:grid-cols-3 lg:grid-cols-4 p-2 rounded-md">
    <app-search-result *ngFor="let result of results" [result]="result">
    </app-search-result>
</div>
<div *ngIf="results.length === 0" class="mt-28 flex justify-center items-center text-gray-700 font-bold mt-2">
    Opps. No result found, try another keyword
</div>